<h1><%= @species.name %> sightings!</h1>

<table cellpadding="7" cellspacing="7">
  <tr>
    <th>Sighting</th>
    <th>Date</th>
    <th>Quantity</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Region</th>
    <th>Update</th>
  </tr>
  <% @species.sightings.each_with_index do |sighting, index| %>
    <tr>
      <td><%= (index+1) %></td>
      <td><%= sighting.date.strftime("%y/%m/%d") %></td>
      <td><%= sighting.quantity %></td>
      <td><%= sighting.latitude %></td>
      <td><%= sighting.longitude %></td>
      <td><a href="/species/<%= @species.id %>/sightings/<%= sighting.id %>/edit">Edit</a>
          <a href="/species/<%= @species.id %>/sightings/<%= sighting.id %>" data-method="delete" rel="nofollow">Delete</a>
      </td>
    </tr>
  <% end %>
</table>

<p>Click <a href='/species'>here</a> to return to the home page</p>
<p>Click <a href='/species/<%= @species.id %>/sightings/new'>here</a> to enter a new <%= @species.name %> sighting.</p>
